@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    scroll-behavior: smooth;
}

.glass {
    padding: 2rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(28px) saturate(180%);
    -webkit-backdrop-filter: blur(28px) saturate(180%);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    text-align: center;
}

.glass input::placeholder {
    color: white !important;
}



.gauge {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: conic-gradient(#28a745 var(--percent), #e9ecef 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gauge-inner {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}